* {
    text-decoration: none;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    margin: 0;
    height: 100%;
}

.head {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.head::before {
    content: "";
    background-image: url('full-shot-travel-concept-with-landmarks.jpg');
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.75;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 82px;
}

nav::before {
    /* background-color:gray; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: -1;
    opacity: 0.4;

}



.items {
    padding-left: 0px;
    display: flex;
    /* background-color: yellow; */
    list-style-type: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* li elements in nav bar */
.obj {
    /* background-color: green; */
    padding: 5px;
    padding-inline: 29px;
    margin: 5px;
    color: white;
    background-color: rgb(63, 63, 221);
    border-radius: 20px;

}

.obj:hover {
    color: grey;
    background-color: lightblue;
    transition: 0.3s;
    cursor: pointer;
}

#logo {
    height: 60px;
    width: 70px;
    margin-top: 9px;
    padding-left: 11px;
    position: relative;
    cursor: pointer;
}


input {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 0px;
}

#form {
    display: grid;
    justify-content: center;
    position: relative;
    background-color: rgba(26, 26, 27, 0.4);
    width: 75vw;
    margin-inline: 12.5%;
    border-radius: 10px;
    margin-top: 15vh;
}


.heading {
    text-align: center;
    color: rgb(243, 236, 224);

}

.box {
    margin: 5px;
    margin-top: 10px;
    align-content: center;
    border-radius: 31px;
    height: 2.8em;
    width: 18rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(133, 173, 206, 0.4);
    text-decoration: none;
    border: rgb(216, 208, 208, 0.4);
    outline: none;
}

.box:focus {
    background-color: rgba(222, 230, 243, 0.966);
    size: 2px;
    transition: 400ms;
}

.box:hover {
    transition: 400ms;
    box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.4);
}

.text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.previous {
    padding: 8px 16px;
    background-color: #f1f1f1;
    display: inline-block;
    color: black;
}

.previous:hover,
.next:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50%;
}



.sub {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

#subbtn {
    border-radius: 31px;
    height: 2.8em;
    width: 15rem;
    text-align: center;
    border: none;
    border-color: rgba(133, 173, 206, 0.4);
    box-shadow: 3px 4px 6px 0px grey;
    text-decoration: none;
    cursor: pointer;
}

#subbtn:hover {
    transition: 400ms;
    background-color: rgb(14, 77, 173);
    color: blanchedalmond;
}

#subbtn:active {
    background-color: rgb(14, 77, 173);
    color: blanchedalmond;
    box-shadow: 3px 2px #666;
    transform: translateY(4px);
}



#card_selector {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    margin: 20px;
    border-radius: 10px;
}

.card_img {
    border-radius: 10px;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
    padding: 2px 16px;
}

.article1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
}

.arc-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.arc-material {
    display: flex;
    height: 300px;
    width: 500px;
    text-align: center;
    align-items: center;
}

.article2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    flex-direction: row-reverse;
}